body {
  font: 18px/1.3 'Futura', sans-serif;
  color: #334;
  letter-spacing: .01em;
}

h1,
h2,
h3,
p {
  margin: 0 auto .7em;
}

h1,
h2,
h3 {
  text-transform: uppercase;
}

h1,
h2 {
  font-size: 1.1em;
  letter-spacing: .05em;
}

h1 {
  font-style: italic;
}

h3 {
  font-size: .8em;
  font-weight: normal;
}

a {
  color: inherit;
  display: inline-block;
}

a:hover {
  text-decoration: none;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.box {
  transition: background .8s ease;
  padding: 14px;
  box-sizing: border-box;
  width: 90vw;
  min-height: 40vw;
}

.empty {
  order: 10;
  height: 0;
  min-height: 0;
}

#profile-pic {
  background: #fdfff0;
}

#card {
  background: #ffdb6f;
  order: 1;
}

#experience {
  background: #fcff7e;
  order: 3;
}

#about {
  background: #fcffbb;
  order: 4;
}

#contact {
  background: #eaeaea;
  order: 5;
}

#quote {
  background: #f0f0f0;
  order: 2;
}

#zoid_says {
  color: #445;
  transition: color .5s;
}

blockquote {
  font: 300 26px 'Georgia', serif;
  font-style: italic;
  margin: 0;
}

blockquote::before {
  content: "❝";
  margin-right: .3em;
}

.svg-wrapper {
  width: 174px;
  margin: 10px auto 0;
}

#profile-pic:hover,
#card:hover,
#experience:hover,
#about:hover,
#contact:hover,
#quote:hover {
  background: transparent;
}

@media (min-width: 500px) {
  .box {
    width: 200px;
    height: 200px;
    min-height: 0;
  }
  .svg-wrapper {
    width: 174px;
    margin: 32px auto 0;
  }
}

@media (min-width: 800px) {
  body {
    font: 16px 'Futura', sans-serif;
  }
  .container {
    margin: 30px auto;
  }
  #profile-pic,
  #card,
  #experience,
  #about,
  #contact,
  #quote,
  .empty {
    order: 0;
    width: 200px;
    height: 200px;
  }
  blockquote {
    text-align: right;
  }
}
